<!DOCTYPE html>
<html>
	<head>
			<title>Animal Form</title>
	</head>
	<body>
		<form method ="POST" action="/animal">
			<label for = "name">What is the name of your spirit animal?</label>
			<input type = "text" name = "name"/>
			<br/>
			<label for = "type">Select Kind of Animal</label>
			<select name="type">
				<option value="panther">Panther</option>
				<option value="lion">Lion</option>
				<option value="cobra">Cobra</option>
				<option value="honey badger">Honey Badger</option>
				<option value="panda">Panda</option>
				<option value="tarsier">Tarsier</option>
				<option value="wolf">Wolf</option>
				<option value="falcon">Falcon</option>
				<option value="mouse">Mouse</option>
			</select>
			<br/>
			<input type="submit" value="Summon!" />
		</form>
	</body>

</html>
